# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
out/
coverage/

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Logs
logs/
*.l*
